<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="spawn_box" params="box_name:='box_0' b:='1' l:='1' h:='1' xyz:='0 0 0' rpy:='0 0 0.785' color:='White'">
  <link name="${box_name}">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${b} ${l} ${h}" />
      </geometry>
      <material name="Gray" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${b} ${l} ${h}" />
      </geometry>
    </collision>
  </link>
  <joint name="world_${box_name}_joint" type="fixed">
    <origin xyz="${xyz}" rpy="${rpy}"/>
    <parent link="world"/>
    <child link="${box_name}"/>
  </joint>
  <gazebo reference="${box_name}">
    <material>Gazebo/${color}</material>
  </gazebo>
</xacro:macro>
</robot>

