<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="spawn_sphere" params="sphere_name:='sphere_0' r:='1' xyz:='0 0 0' rpy:='0 0 0' color:='Gray'">
  
  <link name="${sphere_name}">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="${r/100}"/>
      </geometry>
      <material name="${color}" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="${r/100}"/>
      </geometry>
    </collision>
  </link>
  <joint name="world_${sphere_name}_joint" type="fixed">
    <origin xyz="${xyz}" rpy="${rpy}"/>
    <parent link="world"/>
    <child link="${sphere_name}"/>
  </joint>
  <gazebo reference="${sphere_name}">
    <material>Gazebo/${color}</material>
  </gazebo>
</xacro:macro>
</robot>

